.DS_Store
installed_files.txt
build/
dist/
pyconfig.egg-info/
.tox/
.coverage
*.xcconfig
*.pyc
__pycache__/
htmlcov/
.eggs/
lint_output.txt

# make sure to include the static test output data
!*_output.xcconfig
